html, body {
	height: 100%;
	margin-top: 5px;
}

*{
	margin: 0;
	padding: 0;
}

a{
	color: gray;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

img.border {
}

img.alignleft {
	float: left;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}



/** WRAPPER */

header {
	width: 1200px;
	margin: 0px auto;
	padding: 0px 0px 0px 0px;
	background: white;
	box-shadow: 0px 0px 10px 5px rgba(0,0,0,.2);
}

#logo {
	width: 960px;
	height: 200px;
	margin: 0px auto 30px auto;
	color: white;
}

/** MENU */

#menu {
	overflow: hidden;
	width: 1200px;
	height: 70px;
	font-size: 20px;
	color: white;
}

#menu ul {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px;
	list-style: none;
	text-align: center;
}

#menu li {
	display: inline-block;
}

#menu a {
	display: block;
	height: 70px;
	padding: 0px 10px 0px 10px;
	text-decoration: none;
	line-height: 70px;
	text-transform: uppercase;
	text-align: center;
	font-size: 16px;
	color: black;
	border: none;
	
}

#menu a:hover, #menu .current_page_item a {
	text-decoration: none;
}

#menu .current_page_item a {
	background: gray;
	color: #FFFFFF;
}

#menu .last {
	border-right: none;
}



/* body */

.body {
	overflow: hidden;
	width: 1100px;
	margin: 0px auto;
	padding: 50px 50px 30px 50px;
}

.body nav {
	float: left;
	width: 300px;
	margin-right: 40px;
}

.body section {
	width: 650px;
	float: right;
	margin-right: 50pxs;
}


.body h2 {
	padding: 0px 0px 20px 0px;
	color: #000000;
}

/* Footer */

footer {
	overflow: hidden;
	width: 1000px;
	height: 200px;
	margin: 0 auto;
	padding: 40px 0 15px 0;
}

footer p {
	margin: 0;
	padding-top: 20px;
	line-height: normal;
	text-align: center;
	color: #57ADAE;	
}

footer a {
	color: #57ADAE;
}




/* List Style 1 */

.list-style1 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.list-style1 li {
	padding: 20px 0px 20px 0px;
	border-top: 1px solid #D4D4D4;
}

.list-style1 .first {
	padding-top: 0px;
	border-top: none;
}

/* List Style 1 */

.link-style {
	display: inline-block;
	margin-top: 10px;
	padding: 5px 15px;
	letter-spacing: 1px;
	text-decoration: none;
	text-shadow: 1px 0px 1px #5C1111;
	text-transform: uppercase;
	color: #FFFFFF;
}


/* Costomize */

.login_form{
	border: 1px solid gray;
	padding: 10px;
	font-size: 13px;
}

.login_form a{
	text-decoration: none;
	color: black;
}

.horizon{
	border: 0.5px solid gray;
	opacity: 0.5;
}







